.App {
  text-align: center;
}

.creditForm {
  background-color: lightgrey;
  padding: 40px;
  width: 300px;
  margin: 40px auto;
  border-radius: 5%;
  text-align: center;
}

.creditForm .textInput {
  width: 200px;
}

.creditForm .errorText {
  color: red;
  font-size: 10px;
}

.textInput.error {
  box-shadow: 0 0 3px #cc0000;
}

.creditForm .year {
  width: 75px;
  margin-left: 50px;
}

.creditForm .selectInput {
  width: 75px;
}

.creditForm .submitButton {
  margin-top: 20px;
}
